<% var jsonEjs %><!DOCTYPE html>
<html lang="ja">
<head>
<title><%= jsonEjs.title %></title>
<meta name="description" content="<%= jsonEjs.description %>">
<meta name="keywords" content="<%= jsonEjs.keywords %>">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
</head>
<body>

        <h1 class="title"><%= jsonEjs.title %></h1>
        <p class="id"><%= jsonEjs.id %></p>
        <p class="description"><%= jsonEjs.description %></p>
        <p class="keywords"><%= jsonEjs.keywords %></p>
        <p class="other"><%= jsonEjs.other %></p>

</body>
</html>
